* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: rgb(0, 0, 0, 0.75) url("../../static/images/main\ bg.jpeg");
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;

  box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
}
nav {
  background-color: black !important;
  position: sticky !important;
  box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
}
.navbar.bg-light {
  border-bottom: 4px solid green;
  box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
}
ul {
  padding-left: 24vw !important;
}
.active {
  font: 1.2em sans-serif !important;
  cursor: pointer;
  padding-left: 20px !important;
}
.active:hover {
  color: #4682b4 !important;
  font-weight: bolder !important;
}

/* .section {
   
  } */
heading {
  padding-top: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 6vw;
}

.btns {
  border: 2px solid green !important;
  color: white !important;
  font-weight: bold !important;
  width: 20em !important;
  height: 3rem !important;
  background: transparent !important;
  transition: all 0.5s ease 0s !important;
  border-radius: 15px !important;
}
@media screen and (max-width: 880px) {
  .btns {
    width: 10rem !important;
  }
  form {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }
  body {
    background: rgb(0, 0, 0, 0.75) url("../../static/images/main\ bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;

    box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
  }
}
.btns:hover {
  background: green !important;
  transform: scale(1.15);
}

.containerss {
  padding-bottom: 6.1vh !important;
  padding-top: 5vh;
  padding-left: 48vw !important;
}
.chatty {
  top: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.label {
  background: white;
  width: 10em;
  margin-top: 10px;
  border-radius: 20px;
  border: 2px solid black;
  text-align: center;
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
  height: 2rem;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
}
@media screen and (max-width: 580px) {
  body {
    zoom: 0%;
  }
  .scroll-down {
    display: none;
    zoom: normal;
  }
  .containp {
    width: 15em !important;
    margin-left: 25px !important;
  }
  form {
    width: 400px !important;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
  }
  label {
    width: 10rem !important;
  }
  body {
    background: rgb(0, 0, 0, 0.75) url("../../static/images/main\ bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    width: 127% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;

    box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
  }
}

form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.434) !important;
  border-radius: 10px;
  background-blend-mode: darken;
  border: #af784c solid 4px;
  box-shadow: 0 8px 5px 10px rgba(72, 144, 97, 0.561) !important;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
}

input[type="submit"] {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  background-color: #af784c;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: rgba(72, 144, 97, 0.861);
  border: 2px solid black;
  transform: scale(1.05);
}
label {
  width: 20em;
  margin-top: 10px;
  font-weight: 800;
  text-align: center;
  font-size: 1.4em;
  font-family: "Times New Roman", Times, serif;
  height: 2rem;
}

.chatty a {
  text-decoration: none;
}
