* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding-left: 27vw !important;
}
.active {
  font: 1.2em sans-serif !important;
  cursor: pointer;
  padding-left: 20px !important;
}
.active:hover {
  color: #4682b4 !important;
  font-weight: bolder !important;
}

nav {
  background-color: black !important;
  box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
}
.navbar.bg-light {
  border-bottom: 4px solid green;
  box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
}

section {
  background: rgb(0, 0, 0, 0.75) url("images/main bg 3.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;

  box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading h1 {
  padding: 1rem;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 8vw;
}
.servicebox {
  overflow-x: hidden;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  padding-bottom: 15vh;
}
.card {
  box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.961) !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  background: transparent !important ;
  border: 5px groove rgb(0, 255, 26) !important;
  backdrop-filter: blur(10px);
  padding: 10px !important;
  cursor: pointer;
}

.card-header {
  color: white !important;
  border: 2px solid;
  box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.361) !important;
}
.card-title {
  color: greenyellow !important;
}
.card-text {
  color: white !important;
  text-align: justify;
}
.btn {
  border: 2px solid green !important;
  color: white !important;
  transition: all 0.5s ease 0s !important;
}
.btn:hover {
  background: green !important;
  transform: scale(1.15);
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%
  }
}

.marquee-container {
  height: 30px;
  overflow: hidden;
  border: 2px solid seagreen;
  line-height: 30px;

  .marquee {
    top: 0;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    color: white;
    animation: marquee 30s linear infinite;
  }

  .marquee2 {
    animation-delay: 5s;
  }
  b {
    padding-left: 10px;
  }
}





  /*scroll bar*/
  /* Define a steel blue shade */
  :root {
    --scrollbar-track-color: #4682B4; /* Steel Blue */
    --scrollbar-thumb-color: #5F9EA0; /* Light Steel Blue */
  }
  
  /* Define scrollbar styles */
  /* For webkit browsers */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 10px;
    border: 2px solid transparent;
    background-image: linear-gradient(-45deg, transparent 20%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.8) 40%, transparent 40%, transparent 60%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.8) 80%, transparent 80%);
    background-size: 35px 35px;
    animation: waveAnimation 2s infinite linear;
  }
  
  /* Keyframes for animating the wave effect */
  @keyframes waveAnimation {
    0% {
      background-position: 0 0;
    }
    10% {
      background-position: 5px 5px;
    }
  }
  