<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="Home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>AgriTech-Growing Tomorrow </title>
    
</head>

<body>
    <nav class="navbar  navbar-expand-lg  border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#">
            <img src="/frontend/logo main.jpeg" style="background: transparent; border-radius: 50%;" alt="Logo" width="50" class="logos" height="54" >
            Agri-Tech
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/frontend/team.html">Team </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../services.html">Our Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="404.html" >Chat Support</a>
              </li>
             
              
            </ul>
            <ul class="nav">
            <li class="nav-item">
              <a href="login.html" type="button" class="btn   btn-outline-warning">Login Us</a>
            </li>
          </ul>
          </div>

        </div>
      </nav>

      <section class="section">
        <div class="heading">
            <h1>AgriTech</h1>
            <h2>"Growing Tomorrow"</h2>
            <div class="container containerss justify-content-end">
            <a href="../services.html" class="btn btns btn-success">Get Started</a>
            <div class="chatty  sticky-bottom ">
                <label class="label" >  How may I help you! </label> 
                <img src="/frontend/customer-care-icon.png" alt="Logo" width="80" height="74" class="chattybot">    
            </div>
          
        </div>
        <div class="scroll-down sticky-bottom">
           <a class="ancor" href="#about"></a>
          </div>
        
        </div>
        
      </section>
      
      <section  id="about" class="about">
       <div class="heading">
        <h1 class="abouth1">About Us</h1>
       </div>
       <div class="container" id="about">
        <h1 class="containh1">Our Vision</h1>
        <p class="containp">"The vision of the "Smart Agriculture System for Farmers near Bhopal" project is to revolutionize Bhopal's agricultural domain through advanced technology, empowering local farmers. Our aim is to foster a sustainable and thriving agricultural ecosystem by employing innovative solutions tailored to address the distinct challenges encountered by farmers in this region. We aspire to integrate cutting-edge technologies, such as data-driven insights, IoT devices, and precision agriculture, to enhance productivity, resource utilization, and the overall well-being of farmers. By amalgamating tradition with technology, we envision a future where farmers near Bhopal thrive with increased resilience, efficiency, and prosperity."</p>
       </div>
        
      </section>
     
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <script src="app.js"></script>
</body>

</html>