* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
  
}
nav {
  background-color: black !important;

  box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
}
.navbar.bg-light {
  border-bottom: 4px solid green;
  box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
}
ul{
 padding-left: 24vw !important;

}
.active{
  font: 1.2em sans-serif !important;
  cursor: pointer;
  padding-left: 20px !important;
}
.active:hover{
  color: #4682B4 !important;
  font-weight: bolder !important;
  
}



.section {
  background: rgb(0, 0, 0, 0.75) url("../../images/main\ bg.jpeg");
  background-attachment: fixed;
  background-position: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;

  box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
}

.heading {
  padding-top: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading h1 {
  padding-left: 30vw;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12vw;
}
.heading h2 {
  padding-top: 20px;

  padding-left: 30vw;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 5.3vw;
}

.btns {
  border: 2px solid green !important;
  color: white !important;
  font-weight: bold !important;
  width: 20em !important;
  height: 3rem !important;
  background: transparent !important;
  transition: all 0.5s ease 0s !important;
  border-radius: 15px !important;
}
@media screen and (max-width: 880px){
    .btns{
        width: 10rem !important;
    }
    
}
.btns:hover {
  background: green !important;
  transform: scale(1.15);
}

.containerss {
  padding-bottom: 6.1vh !important;
  padding-top: 5vh;
  padding-left: 48vw !important;
}
.chatty {
  top: 0;

  display: flex;
 flex-direction: row;
 align-items: center ;
  justify-content: end;
}
.label{
    background: white;
    width: 10em;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 1em;
    font-family:'Times New Roman', Times, serif;
    height:2rem;
}


  .scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
  }
  @media screen and (max-width: 580px){
    body{
        zoom: 0%;
    }
    .scroll-down{
        display: none;
        zoom: normal;
    }
    .containp{
        width:  15em !important;
        margin-left: 25px !important;
       
    }
    
}
  
  .scroll-down .ancor {
    width: 64px;
    height: 64px;
    border: 5px solid orange !important;
    border-radius: 50%;
    position: relative;
  }
  
  .scroll-down .ancor::after {
    content: '';
    width: 18px;
    height: 18px;
    border-left: 5px solid orange;
    border-bottom: 5px solid orange;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: arrow 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  @keyframes arrow {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  /* about section  */
  .about{
    background: rgb(0, 0, 0, 0.75) url("/frontend//templates/home-background.jpg");
  background-attachment: fixed;

  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
padding-bottom: 10px;
 box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
    
}

  .heading .abouth1{
    color: wheat !important;
    padding: 0;
    font-size:8vw;
    font-weight: lighter !important;

  }
  .containh1{
    color: white;
    margin-top: 20px;
    margin-bottom: 1em;
  }
  .containp{
    display: flex;
   
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: rgb(237, 231, 218);
    width: 45rem;
    text-align: justify;
    font-size: 20px;
    word-wrap: break-word;
    box-shadow: 0 4px 4px 5px rgba(72, 144, 97, 0.561) !important;
    backdrop-filter: blur(15px);
    margin-bottom: 30px ;
  }
  @media screen and (min-width:580px) and (max-width:800px) {
    .containp{
        width: 25em !important;
        margin-left: 45px !important;
       
    }
    
  }













  /*scroll bar*/
  /* Define a steel blue shade */
:root {
  --scrollbar-track-color: #4682B4; /* Steel Blue */
  --scrollbar-thumb-color: #5F9EA0; /* Light Steel Blue */
}

/* Define scrollbar styles */
/* For webkit browsers */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 10px;
  border: 2px solid transparent;
  background-image: linear-gradient(-45deg, transparent 20%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.8) 40%, transparent 40%, transparent 60%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.8) 80%, transparent 80%);
  background-size: 35px 35px;
  animation: waveAnimation 2s infinite linear;
}

/* Keyframes for animating the wave effect */
@keyframes waveAnimation {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: 5px 5px;
  }
}
