<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services-Agritech</title>
  <link rel="stylesheet" href="../static/css/service.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg  border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">
        <img src="../static/images/servicelogo.jpeg" alt="Logo" width="50" style="background: transparent; border-radius: 50%;"
          class="logo" height="54" class="d-inline-block align-text-top">
        Agri-Services
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/weather">Weather</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/404"> Chat Support </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <section>
    <div class="heading">
      <H1>OUR SERVICES </H1>
      


      <div class="servicebox ">
        <div class="position-relative marquee-container d-none d-sm-block">
          <div class="marquee d-flex justify-content-around">
            <span>Your Data, Secure and Empowered !</span>
            <span>It's strictly utilized for machine training and dataset fitting, ensuring our solutions and privacy is paramount. </span>
            <span>Join us in shaping tomorrow's breakthroughs with confidence.</span>
            
            
        





          </div>
          <div class="marquee marquee2 d-flex justify-content-around">


          </div>
        </div>
        <br>
        <div class="row ">
          <div class="col-sm-5 mb-5 mb-sm-0  ">
            <div class="card">
              <h5 class="card-header text-center fw-bolder">"Growing Tomorrow" </h5>
              <div class="card-body">
                <h5 class="card-title">Crop Recommendation System</h5>
                <p class="card-text">A cutting-edge crop recommendation system leveraging soil quality, contents,
                  weather data in Bhopal promises tailored guidance for farmers. This data-driven approach fosters
                  informed decisions, maximizes yields, and mitigates risks, leading to sustainable practices and
                  economic growth, ensuring a prosperous future for local agriculture.</p>
                <a href="http://127.0.0.1:5000/crop" class="btn btn-muted">Use service</a>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="card">
              <h5 class="card-header text-center fw-bolder">"Protecting Tomorrow"</h5>
              <div class="card-body">
                <h5 class="card-title">Disease Detection system</h5>
                <p class="card-text">Utilizing image recognition and data analysis, the disease detection system swiftly
                  identifies crop diseases and pests. This empowers farmers to take timely action, reducing crop losses
                  and minimizing chemical interventions. The technology promotes eco-friendly practices, fostering
                  sustainable agriculture in Bhopal by mitigating disease impacts and enhancing crop protection. </p>
                <a href="#" class="btn btn-muted">Use service</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5 mb-3 mb-sm-0">
            <div class="card">
              <h5 class="card-header text-center fw-bolder text-light">"Predicting Tomorrow"</h5>
              <div class="card-body">
                <h5 class="card-title">Weather App</h5>
                <p class="card-text">The Smart Agriculture System's weather app offers real-time local data and
                  forecasts. Empowering farmers with informed decisions, it optimizes crop yield by adjusting
                  agricultural practices, mitigating risks from unpredictable weather patterns. This system enhances
                  productivity and ensures better crop yields through tailored agricultural adjustments.</p>
                <a href="http://127.0.0.1:5000/weather" class="btn btn-muted">Use Service</a>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="card">
              <h5 class="card-header text-center fw-bolder">"Engaging Together"</h5>
              <div class="card-body">
                <h5 class="card-title">Local Language Chat Bot</h5>
                <p class="card-text">The integrated local language chatbot acts as a vital communication aid, offering
                  real-time support in farmers' preferred dialects. Providing agricultural insights and personalized
                  guidance, it enhances accessibility for all, including tech-challenged individuals. This tool ensures
                  effective communication, aiding farmers in optimizing practices and fostering inclusive agricultural
                  support.</p>
                <a href="#" class="btn btn-muted">Use service</a>
              </div>
            </div>
          </div>
        </div>


      </div>

  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>