<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Agri-Tech</title>
    <link rel="stylesheet" href="../static/css/team.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar  navbar-expand-lg  border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#">
            <img src="../static/images/logo main.jpeg" style="background: transparent; border-radius: 50%;" alt="Logo" width="50" class="logos" height="54" >
            Agri-Tech
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/weather">Weather App </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/services">Our Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/404" >Chat Support</a>
              </li>
             
              
            </ul>
            <ul class="nav">
            <li class="nav-item">
              <a href="http://127.0.0.1:5000/login" type="button" class="btn   btn-outline-warning">Login Us</a>
            </li>
          </ul>
          </div>

        </div>
      </nav>
    <section>
        <div class="heading">
            <H1> "Alone we can do so little; together we can do so much." </H1>
            </div>
            <div class="container " id="about">
                <h1 class="containh1">Our Team</h1>
                

                    <div class="containers">
                        <div class="row text-light ">
                          <div class="col-md-4 "   >
                            <div class="card" style="max-width: 20rem; max-height: 8rem; ">
                                <div class="card-header" style=" max-height: 4rem;" >Shorya Shokanda
                                     <div class="card-subtitle mb-2 pt-2 text-body-light"> 21BCE10310</div>
                                </div>
                              
                               
                              </div>
                          </div>
                          <div class="col-md-4 offset-md-4">
                            <div class="card" style="max-width: 20rem; max-height: 8.4rem; ">
                                <div class="card-header" style=" max-height: 4rem;" >Nilay Rawal
                                     <div class="card-subtitle pt-2  mb-2 "> 21BCE11143</div>
                                </div>
                              
                               
                              </div>

                          </div>
                          <br>
                          
                        </div>
               </div>
               <div class="containers">
                <div class="row text-light ">
                  <div class="col-md-4 "   >
                    <div class="card" style="max-width: 20rem; max-height: 8rem; ">
                        <div class="card-header" style=" max-height: 4rem;" >Riddhi Pandey
                             <div class="card-subtitle mb-2 pt-2 text-body-light">21BCE10836</div>
                        </div>
                      
                       
                      </div>
                  </div>
                  <div class="col-md-4 offset-md-4">
                    <div class="card" style="max-width: 20rem; max-height: 8.4rem; ">
                        <div class="card-header" style=" max-height: 4rem;" >Vaibhav Shrivastav
                             <div class="card-subtitle pt-2  mb-2 ">21BHI10094</div>
                        </div>
                      
                       
                      </div>

                  </div>
                  <br>
                  
                </div>
       </div>
       <div class="containers">
        <div class="row text-light ">
          <div class="col-md-4 "   >
            <div class="card" style="max-width: 20rem; max-height: 8rem; ">
                <div class="card-header" style=" max-height: 4rem;" >Tulsi Patil
                     <div class="card-subtitle mb-2 pt-2 text-body-light">21BHI10044</div>
                </div>
              
               
              </div>
          </div>
          <div class="col-md-4 offset-md-4">
            <div class="card" style="max-width: 20rem; max-height: 8.4rem; ">
                <div class="card-header" style=" max-height: 4rem;" >Avanish Singh
                     <div class="card-subtitle pt-2  mb-2 ">21BAI10004</div>
                </div>
              
               
              </div>

          </div>
          <br>
          
        </div>
</div>
<div class="containers">
    <div class="row text-light ">
      <div class="col-md-4 "   >
        <div class="card" style="max-width: 20rem; max-height: 8rem; ">
            <div class="card-header" style=" max-height: 4rem;" >Shruti Shukla
                 <div class="card-subtitle mb-2 pt-2 text-body-light">21BSA10090</div>
            </div>
          
           
          </div>
      </div>
      <div class="col-md-4 offset-md-4">
        <div class="card" style="max-width: 20rem; max-height: 8.4rem; ">
            <div class="card-header" style=" max-height: 4rem;" >Aaditya Singh 
                 <div class="card-subtitle pt-2  mb-2 ">21BCE10768</div>
            </div>
          
           
          </div>

      </div>
      <br>
      
    </div>
</div>
               
                

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <script src="../static/app.js"></script>
    
</body>
</html>